<article class="row">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 ">
        <div class="container py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Categorias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Diseño Web</li>
                </ol>
            </nav>
            <section class="row">
                <div class="col-md-4">
                    <img src="https://i.picsum.photos/id/1/5616/3744.jpg?hmac=kKHwwU8s46oNettHKwJ24qOlIAsWN9d2TtsXDoCWWsQ" class="w-100" />
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3 pt-3">
                        <h4 class="card-title">Vente a estudiar programación web</h4>
                        <small>1 de Enero de 2020 por <a href="#">Nelson Pérez</a></small>
                        <p class="card-text text-justify">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique qui praesentium saepe ut illum amet molestias fugit inventore eaque corporis nemo sapiente, quasi cum ab, dolore ipsum alias repudiandae porro.
                        </p>
                        <a href="#" class="btn btn-primary mr-1">Leer Más</a>
                        <button type="button" class="btn btn-success">
            Comentarios <span class="badge badge-light text-success">20</span>
          </button>
                    </div>
                </div>
            </section>

            <hr class="my-4 border" />
            <section class="row">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="w-100" />
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3 pt-3">
                        <h4 class="card-title">Vente a estudiar en Java</h4>
                        <small>1 de Enero de 2020 por <a href="#">Nelson Pérez</a></small>
                        <p class="card-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore delectus eius odit blanditiis voluptatibus quidem officiis magni in temporibus minima ipsam suscipit dolores doloremque a at amet quaerat, neque adipisci eveniet. Cumque recusandae
                            autem laudantium perspiciatis maiores magnam nostrum sed ipsa?
                        </p>
                        <a href="#" class="btn btn-primary mr-1">Leer Más</a>
                        <button type="button" class="btn btn-success">
            Comentarios <span class="badge badge-light text-success">13</span>
          </button>
                    </div>
                </div>
            </section>

            <hr class="my-4 border" />
            <section class="row">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1591683583663-a5996be1a012?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="w-100" />
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3 pt-3">
                        <h4 class="card-title">Vente a estudiar redes</h4>
                        <small>1 de Enero de 2020 por <a href="#">Nelson Pérez</a></small>
                        <p class="card-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, facilis! Odio impedit architecto tenetur error nobis ullam numquam obcaecati, laudantium molestiae quas. Fugit repellendus quam excepturi ut libero sunt aperiam ea minima, ullam iusto. Delectus
                            voluptas, error atque expedita id tenetur suscipit aliquam sequi magnam, quas commodi odio quaerat quae?
                        </p>
                        <a href="#" class="btn btn-primary mr-1">Leer Más</a>
                        <button type="button" class="btn btn-success">
            Comentarios <span class="badge badge-light text-success">0</span>
          </button>
                    </div>
                </div>
            </section>

            <hr class="my-5 border" />
            <footer>
                <div class="row">
                    <div class="col-10">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <p>Nelson Pérez Varona - Clase DAW2</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!-- ASIDE -->

    <aside class="col-lg-3 d-none d-xl-block ">
        <div class="container py-4">
            <h5 class="w-700 mb-3">Categorias</h5>
            <div class="list-group mr-5">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Diseño Web
      </a>
                <a href="#" class="list-group-item list-group-item-action">CSS</a>
                <a href="#" class="list-group-item list-group-item-action">Cursos</a>
                <a href="#" class="list-group-item list-group-item-action">Desarrollo Web</a>
                <a href="#" class="list-group-item list-group-item-action">JQuery</a>
            </div>
        </div>
        <div class="container py-4">
            <h5 class="w-700 mb-3">Articulos Recientes</h5>
            <div class="list-group mr-5">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Primer articulo</h5>
                    </div>
                    <p class="mb-1">
                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    </p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Segundo articulo</h5>
                    </div>
                    <p class="mb-1">
                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    </p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Tercer articulo</h5>
                    </div>
                    <p class="mb-1">
                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    </p>
                </a>
            </div>
        </div>
    </aside>
</article>
